<div class="cart-item-row">
    <div class="cart-item-cell cart-item-product">
        <div class="cart-item-thumbnail" [ngStyle]="{'background-image': 'url(./assets/images/' + cart.product.image + ')'}">
        </div>
        <div class="cart-item-info">
            <div class="cart-item-brand">{{cart.product.brand}}</div>
            <div class="cart-item-title">{{cart.product.title}}</div>
        </div>
    </div>
    <div class="cart-item-cell cart-item-quantity">
        <quantity-control [quantity]="cart.quantity" (onChange)="changeQuantity($event)"></quantity-control>
    </div>
    <div class="cart-item-cell cart-item-total">
        <div class="item-price">
            {{cart.quantity*cart.product.price | currency :'USD': 'symbol' }}
        </div>
    </div>
    <div class="cart-item-cell cart-item-action">
        <div class="item-remove" (click)="removeFromCart()">X</div>
    </div>
</div>

